.Playlist-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.PlaylistPlayer {
    margin-top: 10px;
    width: 25%;
}

.playlist-title {
    color: white;
    text-align: center;
}

.headers .ant-col,
.playlistCard .ant-col {
    margin-bottom: 10px;
}

.playlist-header {
    color: white;
}

.playlistTable {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    position: relative;
    min-height: 1px;
}

.item {
    width: 50%;
}

.item .content,
.item .headers {
    text-align: center;
}

.trashcan {
    font-size: 20px;
}