.create-playlist {
    width: 20%;
    height: 2.7rem;
    background-color: var(--orange);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out all;
}

.create-playlist:hover {
    background-color: #d37720;
}

.create-playlist > .create-icon {
    width: 1rem;
    margin-right: 0.3rem;
}

.create-playlistinput {
    width: 80%;
    height: 2.7rem;
    border: none;
}

.create-playlistinput:focus {
    outline: none;
}

.create-plist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.7rem;
}

.add-playlist {
    padding: 0.7rem;
    width: 100%;
    text-align: center;
    transition: 0.2s ease-in-out all;
    display: flex;
    align-items: center;
}

.add-playlist:hover {
    background: var(--light);
    cursor: pointer;
}
.comment-area {
    width: 90%;
}

.add-playlist img {
    width: 1.5rem;
    margin-right: 0.6rem;
}

.select-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.comment-details {
    width: 80%;
}
.detail-comment-btn {
    width: 15%;
    height: 45px;
}
.detail-comment {
    width: 85%;
}

.recommended {
    width: 20%;
}

.detail-more-btn {
    opacity: 0.7;
    transition: 0.2s ease-in-out all;
}
.detail-comment {
    width: 85%;
}
.detail-comment:focus {
    outline: none;
}

.detail-more-btn:hover {
    opacity: 1;
}

.detail-comment-btn {
    opacity: 0.9;
    transition: 0.2s ease-in-out all;
}

.detail-comment-btn:hover {
    opacity: 1;
}

.rec-song {
    transition: 0.2s ease-in-out all;
}

.rec-song:hover {
    background-color: var(--light);
    cursor: pointer;
}
.comment-area {
    width: 90%;
}
.rec-artist {
    font-size: 0.7rem;
    opacity: 0.5;
}
.detail-comment-btn {
    height: 40px;
    width: 15%;
}
@media screen and (max-width: 365px) {
    .select-list {
        width: 75%;
    }
}
@media screen and (max-width: 430px) {
    .detail-comment,
    .detail-comment-btn {
        width: 100%;
    }
}
@media screen and (max-width: 936px) {
    .comment-details,
    .recommended,
    .comment-area {
        width: 100%;
    }
}
