.user-page-wrapper {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-hero {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 70rem;
  background: #e2a98b;
  background: -webkit-linear-gradient(top left, #e2a98b, #e5ad35);
  background: -moz-linear-gradient(top left, #e2a98b, #e5ad35);
  background: linear-gradient(to bottom right, #e2a98b, #e5ad35);

  h3 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1.5rem;
  }
  h5 {
    color: white;
    opacity: 0.9;
    margin-left: 1.5rem;
    margin-top: -0.2rem;
  }
}
