.dash-result-container {
  height: 100vh;
  background-color: var(--light);
}

.searchResults {
  display: grid;
  padding: 2rem 2rem 3rem;

  /* background-color: black; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  /* height: 75vh; */
  height: fit-content;
  margin-bottom: 32px;
}

@media screen and (max-width: 1280px) {
  .searchResults {
    height: fit-content;
    /* background-color: black; */
    margin-bottom: 32px;
  }
}

.site-page-header {
  color: var(--white);
  background-color: var(--light);
}
