.main-container {
    padding: 2rem 2rem 8rem;
    height: fit-content;
    background: var(--dark);
}

.musicPlayer {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
    max-width: 75%;
    margin: 0 auto;
}

@media screen and (max-width: 475px) {
    .musicPlayer {
        padding: 0rem;
    }
}

@media screen and (min-width: 1150px) {
    .musicPlayer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-header h2 {
    font-weight: var(--poppins-medium);
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: var(--light);
    text-transform: uppercase;
}

.searchContainer {
    display: flex;
    margin-top: 9px;
    justify-content: center;
    align-items: center;
}

#searchBar {
    width: 250px;
    border: none;
    background-color: #383838;
    padding: 0.3rem 0.8rem;
    color: var(--light);
}

#searchBar:focus {
    outline: none;
    border-bottom: 1px solid orange;
}

#searchBar::placeholder {
    font-size: 0.75rem;
}

#searchBtn {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: bold;
    padding: 0.23rem 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out all;
}

#searchBtn:hover {
    background-color: #e6862c;
}

#searchBtn:active {
    position: relative;
    top: 1px;
}

.genreContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.genre1 {
    background-color: var(--orange);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 16.5px;
    margin: 0 15px 15px;
    padding: 5px 12px;
    text-decoration: none;
    border: none;
    transition: 0.3s ease-in-out all;
}

.genre1:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
    transform: scale(1.1);
}

.genre1:active {
    position: relative;
    top: 1px;
}
