.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 12rem;
    margin: 0 0.4rem 0 0.4rem;
}

.card img {
    width: 100%;
}

.card img:hover {
    width: 100%;
}

.card h4 {
    color: #fff;
}

.card h5 {
    color: #fff;
    opacity: 0.5;
    margin-top: -0.5rem;
}

BsIcons.BsPlayCircleFill.music-play-btn:hover {
    color: blue;
}

.DashPlayer {
    margin-top: 50px;
}
