:root {
  --white: #fff;
  --light: #f1eee9;
  --orange: #ec994b;
  --grey: #73777b;
  --dark: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

body {
  background-color: var(--light);
}

.ul-container .anticon svg {
  color: #fff;
}

button {
  border: none;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #fff;
  }
}
