.outline-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: transparent;
  width: 7rem;
  height: 40px;
  transition: all 0.4s;
  margin-right: 0.8rem;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  font-family: var(--main-font);
}
.outline-btn:hover {
  box-shadow: inset 7rem 0 0 0 dodgerblue;
  color: #fff;
  cursor: pointer;
}
.outline-btn:active {
  transform: scale(1.05);
  transition: transform 200ms;
}

.solid-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: dodgerblue;
  color: #fff;
  width: 7rem;
  height: 40px;
  transition: all 0.4s;
  border-style: none;
  font-family: var(--main-font);
}
.solid-btn:hover {
  box-shadow: inset 7rem 0 0 0 dodgerblue;
  cursor: pointer;
}
.solid-btn span {
  cursor: pointer;
  position: relative;
  top: -10px;
  transition: 0.4s;
}
.solid-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.solid-btn:hover span {
  padding-right: 25px;
}
.solid-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.solid-btn:active {
  transform: scale(1.05);
  transition: transform 200ms;
}

.login-btn {
  width: 19rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  height: 45px;
  font-family: var(--main-font);
}
.login-btn span {
  cursor: pointer;
  position: relative;
  top: -10px;
  transition: 0.4s;
  cursor: pointer;
}
