.carousel-container {
  padding: 2rem 2rem 0;
  height: 70vh;
}

.carousel-items {
  height: 20rem;
}

.carousel-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-header h2 {
  font-weight: var(--poppins-medium);
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  color: var(--light);
  opacity: 0.9;
}
