nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec994b;
  padding: 1rem;
}

.logo img {
  /* font-size: 2rem;
  color: var(--dark);
  text-decoration: none;
  margin-left: 1rem;
  text-shadow: red -3px 0, cyan 3px 0;
  transition: text-shadow 200ms;
  letter-spacing: 2px; */
 display: flex;
 align-items: center;
 height: 90px;
 width: 100px;
}

.ul-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-container li {
  list-style: none;
  padding: 0 1rem;
}

.upload a {
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  color: var(--dark);
}

.upload a:hover {
  color: var(--orange);
}

.profile {
  cursor: pointer;
}

.nav-btn {
  width: 11rem;
  border: 1px solid white;
}

.logout .ant-modal-body {
  background: var(--light);
}
