nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: var(--light);
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navy);
  text-decoration: none;
  margin-left: 3rem;
}

.button-wrapper {
  width: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.nav-btn {
  width: 11rem;
}

.menu {
  width: 8rem;
}

.menu-item {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 2rem;
}
