.Playlist-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.PlaylistPlayer {
  margin-top: 10px;
  width: 300px;
}

.playlist-title {
  color: black;
  text-align: center;
}

.headers .ant-col,
.playlistCard .ant-col {
  margin-bottom: 10px;
}

.playlist-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.ant-row {
  justify-content: space-between;
}

.ant-row .ant-col-8 {
  max-width: 100%;
  margin-bottom: 10px;
  padding-right: 20px;
}

.ant-row button {
  display: contents;
}

.playlist-head {
  color: black;
}

.item {
  width: 65%;
}

.item .content,
.item .headers {
  text-align: center;
}

.trashcan {
  font-size: 20px;
}

.active .playlist-head {
  color: orange;
}

.playlistNames {
  background-color: #ec994b;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.play-button {
  width: 1.7rem;
  position: relative;
  left: 53px;
}

.playlist-song-row {
  margin: 0 auto;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  width: 90%;
  transition: 0.2s ease-in-out all;

  &:hover {
    background-color: var(--light);
  }
}

.playlist-song-text h4 {
  transition: 0.2s ease-in-out all;
}

.playlist-song-text h4:hover {
  cursor: pointer;
  color: var(--orange);
}

#show-playlists-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .playlist-information-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-title-songs {
      width: 10rem;
    }
    h3 {
      font-size: 1rem;
      margin-left: 0;
      margin-top: 0.3rem;
    }
    h4 {
      margin-left: 0;
    }
  }
  .playlist-song-row {
    padding: 1rem;
  }
  .playlist-song-information {
    img {
      display: none;
    }
  }

  .play-button {
    width: 1.7rem;
    left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .playlist-song-information {
    img {
      display: flex;
    }
  }
}
