:root {
    --white: #fff;
    --active-color: #00aeb0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    transition: background 0.4s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input[type="range"] {
    height: 5px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.audio-player {
    max-width: 250px;
    padding: 3px;
    border-radius: 20px;
    margin: auto;
    color: var(--white);
    background: var(--active-color);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 20px;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-weight: 300;
    margin-top: 0;
}

.audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 25px;
    height: 25px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    height: 30px;
    width: 30px;
}

.audio-controls path {
    fill: var(--white);
}

.color-backdrop {
    background: linear-gradient(217deg, #1a87e0, #22d4b1);
    box-shadow: 0px 2px 8px 5px rgb(43 42 42);
    /* box-shadow: 0px 2px 8px 5px rgb(255 253 253); */
    border: 1px solid white;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -20px;
    z-index: -1;
    border-radius: 35px;
}

.color-backdrop.playing {
    animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.time {
    display: flex;
    justify-content: space-between;
}