.header {
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 50px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: #fff;
  border: none;
  /* border: 0; */
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: #fff;
  border: 3px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

#icons {
  padding-bottom: 1px;
  background-color: aliceblue;
  border-radius: 15px;
}

#icons1 {
  padding-bottom: -1px;
  color: white;
  background-color: aliceblue;
  border-radius: 15px;
}

.headerIcon1 {
  padding-bottom: 5px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  position: absolute;
  top: 50px;
  background-color: #fff;
  color: rgb(118, 113, 113);
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: #fff;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
